.login-button {
    padding: .4rem 2rem;
    @apply bg-blue-600;
    border-radius: 8px;
    color: #fff;
}
.deposit-btn {
    padding: 0.8rem 1.3rem;
    font-size: 15px;
    background-color: #fff;
    @apply shadow-md;
    color: #999;
    font-weight: 600;
    border-radius: 5px;
}
.wallet_button {
    padding: .5rem 2rem;
    color: #fff;
    background-image: conic-gradient(from 1turn, rgb(132, 71, 246), rgb(86, 23, 203));
}